[include]
  path = ~/k/workspace/fridge-dev/my-config/.gitconfig_common
[includeIf "gitdir:~/k/workspace/fridge-dev/"]
  path = ~/k/workspace/fridge-dev/my-config/.gitconfig_percy
[includeIf "gitdir:~/k/workspace/amazon/"]
  path = ~/k/workspace/amazon/gitconfig
